body {
    font-size: 18px;
    font-family: sans-serif;
    color: #ECEFF1;
    background-color: #000;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;


}

.schedule {

}

.schedule-timeBlocks {
    list-style: none;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

.schedule-timeBlock {
    height: 30px;
    border-top: #3d3e41 solid 1px;
    border-left: none;
    border-right: none;
    width: 100%;
    align-self: stretch;
    position: relative;
}

.timeline {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgb(223, 57, 57);
    color: rgb(223, 57, 57);
    position: relative;
    width: 100%;
    top: 0px;
    z-index: 10;
}

.timeline::before {
    content: attr(data-before);
    font-size: 0.7em;
    font-weight: 600;
    position: absolute;
    top: -9px;
    left: -48px;
    z-index: 10;
}

.schedule-timeBlock:last-child {
    border-bottom: #3d3e41 solid 1px;
}

.schedule-timeBlock::before {
    color: #696969;
    font-size: 0.8em;
    position: absolute;
    top: -9px;
    left: -50px;
}

.schedule-timeBlock:nth-child(2)::before {
    content: '00:00';
}

.schedule-timeBlock:nth-child(3)::before {
    content: '01:00';
}

.schedule-timeBlock:nth-child(4)::before {
    content: '02:00';
}

.schedule-timeBlock:nth-child(5)::before {
    content: '03:00';
}

.schedule-timeBlock:nth-child(6)::before {
    content: '04:00';
}

.schedule-timeBlock:nth-child(7)::before {
    content: '05:00';
}

.schedule-timeBlock:nth-child(8)::before {
    content: '06:00';
}

.schedule-timeBlock:nth-child(9)::before {
    content: '07:00';
}

.schedule-timeBlock:nth-child(10)::before {
    content: '08:00';
}

.schedule-timeBlock:nth-child(11)::before {
    content: '09:00';
}

.schedule-timeBlock:nth-child(12)::before {
    content: '10:00';
}

.schedule-timeBlock:nth-child(13)::before {
    content: '11:00';
}

.schedule-timeBlock:nth-child(14)::before {
    content: '12:00';
}

.schedule-timeBlock:nth-child(15)::before {
    content: '13:00';
}

.schedule-timeBlock:nth-child(16)::before {
    content: '14:00';
}

.schedule-timeBlock:nth-child(17)::before {
    content: '15:00';
}

.schedule-timeBlock:nth-child(18)::before {
    content: '16:00';
}

.schedule-timeBlock:nth-child(19)::before {
    content: '17:00';
}

.schedule-timeBlock:nth-child(20)::before {
    content: '18:00';
}

.schedule-timeBlock:nth-child(21)::before {
    content: '19:00';
}

.schedule-timeBlock:nth-child(22)::before {
    content: '20:00';
}

.schedule-timeBlock:nth-child(23)::before {
    content: '21:00';
}

.schedule-timeBlock:nth-child(24)::before {
    content: '22:00';
}

.schedule-timeBlock:nth-child(25)::before {
    content: '23:00';
}


.cal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    max-width: 400px;
    border-radius: 10px;
    background-color: #3d3e41;
    padding-right: 15px;
    padding-left: 15px;
}

.cal ul {
    list-style: none;
    margin: 0;
    padding: 15px 15px;
}

.cal .cal-week-days {
    padding: 8px 15px;
}

.cal-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid rgb(201, 199, 199);
}
.btn-prev, .btn-next {
    margin: 0 5px;
    padding: 0;
    height: 1.2em;
    width: 1.2em;
    font-size: 1.2em;
    background-color: transparent;
    color: #ECEFF1;
    border: none;
}
.btn-prev:hover, .btn-next:hover {
    cursor: pointer;
}
.cal-header-month, .cal-header-year, .btn {
    padding: 5px;
}
.select-month, .select-year {
    font-size: 1em;
    font-family: sans-serif;
    color: #ECEFF1;
    background-color: #3d3e41;
    border: none;
    appearance: none;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    text-align-last: center;
    width: 100%;
}

/*.select-month option, .select-year  option{*/
/*    padding: 5px;*/
/*}*/
.cal-week-days, .cal-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

    font-weight: bold;

}

.cal-days {
    border-bottom: 1px solid rgb(201, 199, 199);
}

.cal-week-days {
    border-bottom: 1px solid rgb(201, 199, 199);
}

.cal-week-day, .cal-day, .cal-day a {
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
}

.cal-day.cal-day--not-in-month > a {
    color: #696969;
}

.cal-day {
    margin: 5px 0;
}

.cal-day a {
    font-size: 18px;
    font-family: sans-serif;
    color: #ECEFF1;
    text-decoration: none;
    display: block;
}

.cal-day a.active-day {
    border-radius: 50%;
    background-color: #ECEFF1;
    color: #696969;
}
/*.cal-day a:hover {*/
/*    border-radius: 50%;*/
/*    background-color: #ECEFF1;*/
/*    color: rgb(29, 28, 28);*/
/*}*/
.now-day {
    border-radius: 50%;
    background-color: rgb(223, 57, 57);
    color: rgb(29, 28, 28);
}
